<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1058125410372-hclhbl5cobrkfls0as7vku9l6hob4pfc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058125410372-hclhbl5cobrkfls0as7vku9l6hob4pfc</string>
	<key>API_KEY</key>
	<string>AIzaSyBNCmgWu58Ylp_OLBctrKtyEVL9DVbQWUA</string>
	<key>GCM_SENDER_ID</key>
	<string>1058125410372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newsApp</string>
	<key>PROJECT_ID</key>
	<string>newsapp-ba51c</string>
	<key>STORAGE_BUCKET</key>
	<string>newsapp-ba51c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058125410372:ios:16dfbf7a9e31106d6b8c11</string>
</dict>
</plist>